@charset "UTF-8";
body {
  font-size: 16px;
  font-family: "Teko", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  margin-top: 0;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.white-text {
  color: #fff;
}

.quote-slider-content:before {
  content: ' ';
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../img/quote-mark.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.btn {
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #685157;
  padding: 14px 20px 10px 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #FFF;
  border-color: #fff;
  border-width: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}

.btn-default {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus {
  background-color: transparent;
  border-color: #3498db;
  color: #3498db;
}

.owl-controls .owl-dots .owl-dot {
  border-radius: 0;
  width: 40px;
  height: 4px;
  background: #fff;
  display: inline-block;
  margin: 5px;
}

.project-nav {
  list-style-type: none;
  padding-left: 0;
}

.project-nav > li {
  display: inline-block;
  font-size: 1.25em;
  padding: 0 10px 10px;
}

.project-nav > li.active a {
  color: #3498db;
  border-bottom: 2px solid #3498db;
}

.project-nav > li > a {
  color: #555;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-nav > li > a:hover, .project-nav > li > a:focus {
  text-decoration: none;
}

.current-project-artworks.bx-controls-hidden .bx-controls {
  display: none;
}

#bxModal .modal-content {
  border-radius: 0;
}

#bxModal .modal-content .close {
  margin-top: -10px;
  font-size: 30px;
}

#bxModal .modal-content .close:focus {
  outline: none;
}

#bxModal .modal-content img {
  margin: 0 auto;
}

.inner-hero-unit {
  background-image: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.inner-hero-unit h1, .inner-hero-unit p {
  color: #fff;
}

.inner-hero-unit h1 {
  font-size: 2.375em;
}

.inner-hero-unit p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125em;
}

#contact-message input:focus, #contact-message textarea:focus {
  outline: none;
}

#contact-message input.has-error, #contact-message textarea.has-error {
  border-color: #a94442;
}

.tooltip {
  position: absolute;
  z-index: 999;
  width: 2em;
  height: 2em;
  cursor: pointer;
  opacity: 1;
  display: none;
}

.slide0 {
  top: 33%;
  left: 48%;
}

.slide1 {
  top: 40%;
  left: 25%;
}

.slide2 {
  top: 80%;
  left: 76%;
}

.slide3 {
  top: 39%;
  left: 47%;
}

.slide4 {
  top: 39%;
  left: 32%;
}

.slide5 {
  top: 33%;
  left: 33%;
}

.tooltip-item {
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #3498db;
  -webkit-animation: pulse 0.6s infinite alternate;
  animation: pulse 0.6s infinite alternate;
  box-shadow: 0px 0px 20px 0px #3498db;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(0.5, 0.5, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

nav.navbar {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav.navbar .navbar-brand {
  padding: 10px 10px 10px 15px;
  margin-right: 100px;
}

nav.navbar .navbar-nav a {
  font-family: "Titillium Web", sans-serif;
  color: white;
  padding: 15px 0;
  margin-left: 40px;
}

nav.navbar .navbar-nav a:hover, nav.navbar .navbar-nav a:focus {
  color: #fff;
  border-bottom: 3px solid #fff;
}

nav.navbar .navbar-nav > .active > a, nav.navbar .navbar-nav > .active a:hover, nav.navbar .navbar-nav > .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #fff;
  color: #fff;
}

nav.light-menu {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0 3px 6px -2px #999;
  -moz-box-shadow: 0 3px 6px -2px #999;
  box-box-shadow: 0 3px 6px -2px #999;
}

nav.light-menu .navbar-nav a {
  color: rgba(0, 0, 0, 0.5);
}

nav.light-menu .navbar-nav a:hover, nav.light-menu .navbar-nav a:focus {
  color: rgba(0, 0, 0, 0.5);
  border-color: #3498db;
}

nav.light-menu .navbar-nav > .active > a, nav.light-menu .navbar-nav > .active a:hover, nav.light-menu .navbar-nav > .active a:focus {
  border-color: #3498db;
  color: rgba(0, 0, 0, 0.5);
}

.hero-unit {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  position: relative;
}

.hero-unit .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

.hero-unit-callout {
  font-family: "Teko", sans-serif;
  font-size: 2.5em;
  color: #fff;
  position: absolute;
  padding-left: 15px;
  top: 50%;
  margin-top: -105px;
  z-index: 2;
  line-height: 1;
  text-transform: uppercase;
}

.hero-unit-callout p {
  letter-spacing: 2px;
}

.hero-unit-actions {
  margin-top: 50px;
}

.hero-unit-actions a {
  margin-right: 20px;
}

.hero-unit-actions a:first-child {
  padding: 14px 50px 10px;
}

.hero-unit .hero-mouse {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -60px;
  z-index: 2;
}

.hero-unit .hero-mouse a {
  display: block;
}

.hero-unit .hero-mouse a img {
  display: block;
  margin: 0 auto;
}

.hero-unit .hero-mouse p {
  text-transform: uppercase;
  font-size: 1.125em;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 3px;
  margin-top: 20px;
}

.services, .testimonials, .contacts, .about, .inner-hero-unit {
  padding: 90px 0 50px 0;
}

.services {
  position: relative;
}

.services .left-bg img, .services .right-bg img {
  float: right;
}

.services .left-bg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
}

.services .right-bg {
  position: absolute;
  bottom: 200px;
  left: 0;
  max-width: 100%;
}

.services h1 {
  position: relative;
}

.services-grid-item {
  display: block;
  color: #30282a;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  padding: 40px 40px;
  min-height: 140px;
}

.services-grid-item .item-left {
  float: left;
  width: 30%;
  text-align: center;
}

.services-grid-item .item-right {
  float: right;
  width: 65%;
}

.services-grid-item span.icon {
  background-image: url("../img/services-sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.services-grid-item:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #3498db;
}

.services-grid-item:hover span.text {
  color: #fff;
}

.services-grid div[class^="col-"]:first-child .services-grid-item span.icon {
  background-position: 0 -500px;
  width: 50px;
  height: 44px;
}

.services-grid div[class^="col-"]:first-child .services-grid-item:hover span.icon {
  background-position: 0 -554px;
}

.services-grid div[class^="col-"]:nth-child(2) .services-grid-item span.icon {
  background-position: 0 0;
  width: 60px;
  height: 47px;
}

.services-grid div[class^="col-"]:nth-child(2) .services-grid-item:hover span.icon {
  background-position: 0 -57px;
}

.services-grid div[class^="col-"]:nth-child(3) .services-grid-item span.icon {
  background-position: 0 -738px;
  width: 47px;
  height: 50px;
}

.services-grid div[class^="col-"]:nth-child(3) .services-grid-item:hover span.icon {
  background-position: 0 -798px;
}

.services-grid div[class^="col-"]:nth-child(4) .services-grid-item span.icon {
  background-position: 0 -244px;
  width: 34px;
  height: 55px;
}

.services-grid div[class^="col-"]:nth-child(4) .services-grid-item:hover span.icon {
  background-position: 0 -309px;
}

.services-grid div[class^="col-"]:nth-child(5) .services-grid-item span.icon {
  background-position: 0 -374px;
  height: 53px;
  width: 55px;
}

.services-grid div[class^="col-"]:nth-child(5) .services-grid-item:hover span.icon {
  background-position: 0 -437px;
}

.services-grid div[class^="col-"]:nth-child(6) .services-grid-item span.icon {
  background-position: 0 -114px;
  width: 49px;
  height: 55px;
}

.services-grid div[class^="col-"]:nth-child(6) .services-grid-item:hover span.icon {
  background-position: 0 -179px;
}

.services-grid div[class^="col-"]:nth-child(7) .services-grid-item span.icon {
  background-position: 0 -858px;
  width: 41px;
  height: 60px;
}

.services-grid div[class^="col-"]:nth-child(7) .services-grid-item:hover span.icon {
  background-position: 0 -928px;
}

.services-grid div[class^="col-"]:nth-child(8) .services-grid-item span.icon {
  background-position: 0 -608px;
  width: 55px;
  height: 55px;
}

.services-grid div[class^="col-"]:nth-child(8) .services-grid-item:hover span.icon {
  background-position: 0 -673px;
}

.services-grid div[class^="col-"]:nth-child(9) .services-grid-item span.icon {
  background-image: url("../img/identity-sprite.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.services-grid div[class^="col-"]:nth-child(9) .services-grid-item:hover span.icon {
  background-position: 0 -70px;
}

.explore {
  padding: 30px 0;
  background-image: url("../img/img.png");
  background-size: cover;
  background-position: 0 -300px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.explore h3 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 30px;
  letter-spacing: .1em;
}

.testimonials {
  background-color: #3498db;
}

.testimonials h1 {
  color: #fff;
}

.testimonials .map-container {
  position: relative;
  height: 400px;
}

.testimonials .map-container img {
  max-height: 100%;
  max-width: 100%;
}

.quote-slider {
  color: #fff;
  text-align: center;
  margin: 80px auto 0 auto;
}

.quote-slider-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.quote-slider .main-text {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.75em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 30px;
}

.quote-slider .sub-text {
  font-size: 1.125em;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-height: 899px) {
  .fullpage-wrapper .quote-slider {
    margin-top: 50px;
  }
  .fullpage-wrapper .quote-slider .main-text {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 799px) {
  .fullpage-wrapper .services-grid-item {
    padding: 20px;
    min-height: 100px;
  }
  .fullpage-wrapper .quote-slider .main-text {
    max-width: 600px;
    margin-bottom: 10px;
  }
  .fullpage-wrapper .quote-slider-content {
    max-width: 700px;
  }
  .fullpage-wrapper .owl-theme .owl-controls {
    margin-top: 0;
  }
}

@media screen and (max-height: 760px) {
  .fullpage-wrapper h1 {
    font-size: 2.5em;
  }
  .fullpage-wrapper .footer .panel {
    padding: 15px 0;
  }
  .fullpage-wrapper .social-container {
    margin-top: 25px;
  }
  .fullpage-wrapper .quote-slider {
    margin-top: 25px;
  }
}

@media screen and (max-height: 699px) {
  .fullpage-wrapper h1 {
    margin-bottom: 20px;
  }
  .fullpage-wrapper .services, .fullpage-wrapper .testimonials, .fullpage-wrapper .contacts {
    padding: 80px 0 0 0;
  }
  .fullpage-wrapper .testimonials .map-container {
    height: 350px;
  }
  .fullpage-wrapper .explore {
    padding: 20px 0 !important;
  }
  .fullpage-wrapper .explore h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .fullpage-wrapper .services .right-bg {
    bottom: 140px;
  }
  .fullpage-wrapper .footer .panel {
    padding: 10px 0;
  }
}

@media screen and (max-width: 1199px) {
  .services-grid-item {
    padding: 20px;
    min-height: 100px;
  }
  .services-grid-item .item-left {
    text-align: left;
  }
  .services-grid-item .item-right {
    width: 70%;
  }
  .hero-unit {
    min-height: 600px;
  }
  .hero-unit-callout {
    top: 50%;
    margin-top: -106px;
  }
  .services {
    padding-bottom: 0;
  }
  .services-grid {
    margin-top: 0;
  }
  .services .left-bg {
    top: 0;
  }
}

@media screen and (max-width: 991px) {
  .hero-unit-callout {
    font-size: 2em;
  }
  .services-grid-item {
    padding: 20px;
  }
  .services-grid-item .item-left {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .hero-unit {
    padding-top: 200px;
  }
  .hero-unit .hero-mouse {
    margin-left: -60px;
  }
  .hero-unit-callout {
    padding: 0 20px;
    position: relative;
    top: initial;
    margin-top: 0;
    text-align: center;
  }
  .hero-unit-actions {
    text-align: center;
    margin-top: 30px;
  }
  .hero-unit-actions button {
    margin-bottom: 20px;
  }
  .services .left-bg {
    width: 100%;
  }
  .services h1 {
    text-align: center;
  }
  .services-grid-item {
    padding: 20px;
    min-height: 100px;
  }
  .quote-slider-content:before {
    display: none;
  }
  .social-btn {
    margin-bottom: 10px;
  }
  .testimonials .map-container {
    height: auto;
  }
  .explore h3 {
    font-size: 1.5em;
  }
  .services .right-bg {
    bottom: 120px;
  }
}

@media screen and (max-width: 550px) {
  .hero-unit {
    padding-top: 150px;
  }
  .hero-unit-callout {
    font-size: 1.5em;
  }
  .hero-unit-actions a {
    margin-bottom: 20px;
  }
  .fullpage-wrapper .testimonials .map-container {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .explore h3 {
    font-size: 1.2em;
  }
  .owl-theme .owl-controls .owl-page span {
    width: 30px;
  }
  .hero-unit-actions a {
    margin-right: 0;
  }
}

.portfolio-section {
  padding-top: 54px;
}

.portfolio-section h1 {
  font-family: "Teko", sans-serif;
  margin-bottom: 0;
}

.portfolio-section .panel {
  padding: 30px 0 20px 0;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.portfolio-section .project-showing {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grid-item, .grid-sizer {
  width: 50%;
}

.portfolio-items a[class^='portfolio-items'] {
  display: block;
  position: relative;
  overflow: hidden;
  background: #3085a3;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}

.portfolio-items a img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.portfolio-items a .caption {
  padding: 2em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.portfolio-items a .caption .project-title {
  display: block;
  margin: 0;
  font-size: 3.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.portfolio-items a .caption .project-descr {
  display: block;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

.portfolio-items a .caption::before, .portfolio-items a .caption::after {
  pointer-events: none;
}

.portfolio-items a.effect-apollo {
  background: #3498db;
}

.portfolio-items a.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}

.portfolio-items a.effect-apollo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
}

.portfolio-items a.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.portfolio-items a.effect-apollo:hover::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
}

@media screen and (max-width: 991px) {
  .portfolio-section .project-nav > li, .portfolio-section .project-showing {
    font-size: 1em;
  }
  .portfolio-items a .caption .project-title {
    font-size: 3em;
  }
  .portfolio-items a .caption .project-descr {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-section .project-nav {
    text-align: center;
  }
  .portfolio-section .project-showing {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .portfolio-items .grid-item {
    height: 200px !important;
  }
  .portfolio-items a .caption {
    padding: 0.5em;
  }
  .portfolio-items a .caption .project-title {
    font-size: 1.5em;
    line-height: 1em;
  }
  .portfolio-items a .caption .project-descr {
    line-height: 1.2em;
  }
}

@media screen and (max-width: 479px) {
  .portfolio-items .grid-item {
    width: 100% !important;
  }
  .portfolio-items a .caption .project-title {
    font-size: 2em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .grid .grid-item--height2 {
    height: 500px !important;
  }
  .grid .grid-item {
    height: 250px !important;
  }
}

.services-content .rotated {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.services-content div[class*="-content"] {
  position: relative;
  z-index: 2;
  padding: 100px 0;
}

.services-content div[class*="-content"].w-border {
  border: 1px solid #e8e8e8;
}

.services-content .service-description, .services-content .subheading-text {
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  position: relative;
  z-index: 2;
}

.services-content .service-description ul, .services-content .subheading-text ul {
  padding-left: 20px;
}

.services-content .service-heading {
  font-size: 3.75em;
  color: #333;
  position: relative;
  z-index: 2;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 1;
}

.services-content .service-heading-text {
  clear: both;
  text-transform: uppercase;
}

.services-content .service-heading-text span {
  display: block;
}

.services-content p[class*='-section-ico'] {
  background-image: url("../img/services-sprite.png");
  background-repeat: no-repeat;
}

.services-content .services-section-content strong {
  display: inline-block;
  margin-bottom: 30px;
}

.services-content .g-mask, .services-content .b-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.services-content .g-mask {
  background-color: #f2f2f2;
  opacity: .9;
}

.services-content .b-mask {
  background-color: #3299de;
  opacity: .9;
}

.services-content .business-content .business-section-ico {
  background-position: 0 -500px;
  width: 50px;
  height: 44px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  float: left;
}

.services-content .business-content .service-description {
  margin-top: 64px;
}

.services-content .ecommerce-content .ecommerce-section-ico {
  background-position: 0 0;
  width: 60px;
  height: 47px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.services-content .ecommerce-content .service-description {
  margin-top: 67px;
}

.services-content .social-content {
  background-image: url("../../img/services-page/pic-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-content .social-content .social-section-ico {
  background-position: 0 -738px;
  width: 47px;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  float: right;
}

.services-content .social-content .service-description {
  margin-top: 70px;
}

.services-content .social-content .service-description p {
  margin: 30px 0;
}

.services-content .social-content .service-description ul > li {
  margin-bottom: 20px;
}

.services-content .social-content .service-description ul > li:last-child {
  margin-bottom: 0;
}

.services-content .mobile-content .mobile-section-ico {
  background-position: 0 -244px;
  width: 34px;
  height: 55px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.services-content .mobile-content .service-description {
  margin-top: 75px;
}

.services-content .mobile-content .service-description p {
  margin-bottom: 25px;
}

.services-content .mobile-content .service-description p:last-child {
  margin-bottom: 0;
}

.services-content .design-content .design-section-ico {
  background-position: 0 -374px;
  height: 53px;
  width: 55px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  float: right;
}

.services-content .design-content .service-description {
  margin-top: 75px;
  padding-left: 90px;
}

.services-content .branding-content .branding-section-ico {
  background-image: url("../img/identity-sprite.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.services-content .branding-content .service-description {
  margin-top: 80px;
  padding-right: 20px;
}

.services-content .branding-content .service-description ul > li {
  margin-bottom: 20px;
}

.services-content .branding-content .service-description ul > li:last-child {
  margin-bottom: 0;
}

.services-content .support-content {
  background-image: url("../../img/services-page/pic-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services-content .support-content .support-section-ico {
  background-position: 0 -858px;
  width: 41px;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.services-content .support-content .service-description {
  margin-top: 80px;
}

.services-content .support-content .subheading-text ul > li {
  margin-bottom: 15px;
}

.services-content .support-content .subheading-text ul > li:last-child {
  margin-bottom: 0;
}

.services-content .startups-content .startups-section-ico {
  background-position: 0 -608px;
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.services-content .startups-content .service-description {
  margin-top: 75px;
}

.services-content .startups-content .service-description p:first-child {
  margin-bottom: 30px;
}

.services-content .data-content .data-section-ico {
  background-position: 0 -114px;
  width: 49px;
  height: 55px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.services-content .data-content .service-description {
  margin-top: 75px;
}

.services-content .data-content .service-description p {
  margin-top: 20px;
}

.services-content .data-content .service-description ul > li {
  margin-bottom: 15px;
}

.services-content .data-content .service-description ul > li:last-child {
  margin-bottom: 0;
}

/*--------media query ---------*/
@media screen and (max-width: 1199px) {
  .services-content div[class*='-content'] {
    padding: 50px 0;
  }
}

@media screen and (max-width: 991px) {
  .services-content div[class*='-content'] {
    padding: 20px 0;
  }
  .services-content .service-heading {
    text-align: left;
    font-size: 3em;
  }
  .services-content .service-heading p[class*='-section-ico'] {
    float: none;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 20px;
  }
  .services-content .service-heading-text {
    display: inline-block;
  }
  .services-content .service-heading-text br {
    display: none;
  }
  .services-content .service-heading-text span {
    display: inline-block;
  }
  .services-content .service-description {
    text-align: left;
    padding-left: 0 !important;
    margin-top: 0 !important;
  }
  .services-content .service-description strong {
    display: inline-block;
    margin-bottom: 25px;
  }
  .services-content .service-description strong + p {
    margin-top: 0;
  }
  .services-content .mobile-content .service-description p:last-child {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 479px) {
  .services-content .service-heading p[class*='-section-ico'] {
    float: none;
    display: block;
    margin: 0 auto 10px;
  }
  .services-content .service-heading-text {
    text-align: center;
    display: block;
  }
}

.project-view-section {
  margin-top: 54px;
  margin-bottom: 50px;
}

.project-view-section .panel {
  padding: 30px 0 20px 0;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.project-view-section .panel h1 {
  color: #3299de;
  margin-bottom: 0;
}

.project-view-section .project-subtitle {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-switcher a {
  font-size: 1.125em;
  color: #c3c3c3;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-switcher a span {
  margin: 10px;
}

.project-switcher a:hover, .project-switcher a:focus {
  color: #3299de;
  text-decoration: none;
}

.current-project {
  margin-bottom: 100px;
}

.current-project p, .current-project ul {
  font-family: "Titillium Web", sans-serif;
}

.current-project ul li {
  color: #3299de;
}

.current-project ul li span {
  color: #333;
}

.current-project h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.current-project-descr {
  padding-right: 80px;
}

.current-project-descr .btn {
  min-width: 250px;
}

.current-project .link-to-project {
  margin-top: 30px;
}

.artworks-slides {
  list-style-type: none;
  padding-left: 0;
}

.artworks-slides img {
  max-width: 100%;
}

.technologies-used p {
  font-size: 1.125em;
  margin-bottom: 0;
}

.bx-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.bx-wrapper a {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #c3c3c3;
  letter-spacing: 1px;
  margin-top: 20px;
}

.bx-wrapper a:hover, .bx-wrapper a:focus {
  color: #0099de;
  text-decoration: none;
}

.bx-wrapper .bx-prev {
  float: left;
}

.bx-wrapper .bx-next {
  float: right;
}

.bx-wrapper img {
  max-width: 100%;
}

@media screen and (max-width: 1199px) {
  .project-switcher a span {
    margin: 5px;
  }
}

@media screen and (max-width: 991px) {
  .project-view-section {
    margin-bottom: 0;
  }
  .project-switcher a {
    display: block;
    text-align: left;
  }
  .current-project {
    margin-bottom: 50px;
  }
  .current-project .project-title {
    margin-bottom: 15px;
  }
  .current-project-descr {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .project-view-section .project-subtitle {
    text-align: center;
  }
  .project-switcher a {
    text-align: center;
  }
  .current-project .link-to-project {
    display: block;
    margin: 0 auto;
  }
  .bx-controls {
    overflow: hidden;
    max-width: 370px;
    margin: 0 auto;
  }
  .artworks-slides {
    overflow: hidden;
    max-width: 370px;
    margin: 0 auto;
  }
  .technologies-used p {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .project-switcher a {
    font-size: 1em;
  }
}

.about-section {
  border-bottom: 1px solid #e8e8e8;
  padding: 25px 0;
}

.about-section h3 {
  margin-top: 0;
  margin-bottom: 70px;
}

.about-section h4 {
  font-size: 1.5em;
  color: #3299de;
}

.about-section h4.blue {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  line-height: 1.6;
}

.about-section ul {
  padding-left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-section li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 30px;
  font-family: "Titillium Web", sans-serif;
}

.about-section li:before {
  content: "• ";
  margin-right: 5px;
  color: #3299de;
  /* or whatever color you prefer */
}

.about-section .heading {
  font-size: 3em;
}

.about-section p {
  font-family: "Titillium Web", sans-serif;
}

.diff-bg {
  background-color: #f2f2f2;
}

.new-5-col {
  position: relative;
  width: 20%;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  /*background-color: #f0f;*/
}

.new-5-col p.big {
  font-size: 2.875em;
  color: #3299de;
}

.rb {
  border-right: 1px solid #e8e8e8;
}

.we h4 {
  font-size: 3.4375em;
  font-weight: 100;
  color: #333;
}

.we p {
  color: #333;
}

.we .cell {
  margin-bottom: 90px;
}

.ben-h {
  min-height: 220px;
  padding-top: 25px;
}

.bnfts .ben {
  /*margin-top: 25px;*/
  margin-bottom: 25px;
}

.new-5-col:nth-child(5n) .rb {
  border-right: none;
}

.bnfts .new-5-col .rb {
  border-bottom: 1px solid #e8e8e8;
}

.bnfts .new-5-col:nth-child(n+6) .rb {
  border-bottom: none;
}

.we .we {
  background: url("../img/about-images/we.png") no-repeat top left;
  margin-top: 5px;
}

.we.desk {
  background-position: 0 0;
  width: 93px;
  height: 74px;
}

.we.map {
  background-position: -103px 0;
  width: 80px;
  height: 77px;
}

.we.marker {
  background-position: -193px 0;
  width: 56px;
  height: 87px;
}

.we.scisors {
  background-position: -259px 0;
  width: 86px;
  height: 93px;
}

.we.smile {
  background-position: -355px 0;
  width: 63px;
  height: 63px;
}

.we.user {
  background-position: -428px 0;
  width: 81px;
  height: 86px;
}

.benefits {
  background: url("../img/about-images/benefits.png") no-repeat top left;
  width: 66px;
  height: 49px;
}

.benefits.eq {
  background-position: 0 0;
  width: 46px;
  height: 56px;
}

.benefits.fc {
  background-position: -56px 0;
  width: 56px;
  height: 57px;
}

.benefits.gt {
  background-position: -122px 0;
  width: 53px;
  height: 54px;
}

.benefits.hlq {
  background-position: -185px 0;
  height: 53px;
}

.benefits.ltt {
  background-position: -261px 0;
  width: 65px;
  height: 51px;
}

.benefits.pb {
  background-position: -336px 0;
  width: 39px;
}

.benefits.skb {
  background-position: -385px 0;
  height: 54px;
}

.benefits.srm {
  background-position: -461px 0;
  width: 60px;
}

.benefits.tec {
  background-position: -531px 0;
  width: 40px;
  height: 52px;
}

.benefits.tm {
  background-position: -581px 0;
  width: 55px;
  height: 55px;
}

.links {
  padding-top: 20px;
}

@media screen and (max-width: 1199px) {
  .ben-h {
    min-height: 250px;
  }
}

@media screen and (max-width: 991px) {
  .links .project-nav {
    font-size: 1.25em;
  }
  .new-5-col {
    width: 50%;
  }
  .new-5-col.rb {
    border: none;
  }
  .rb, .bnfts .new-5-col .rb {
    border: none;
  }
}

.contacts {
  position: relative;
}

.contacts form {
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.contacts form.rotated {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.contacts form .thanks {
  display: none;
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  border: 1px solid #e1e1e1;
  color: #3498db;
  text-align: center;
}

.contacts form .thanks h3 {
  margin: 0;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -155px;
}

.contacts form label {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.25em;
}

.contacts form input, .contacts form textarea {
  width: 100%;
  padding: 13px 20px;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.875em;
  border: 1px solid #E0E0E0;
}

.contacts form input:focus, .contacts form textarea:focus {
  border-color: #30282a;
}

.contacts form input::-webkit-input-placeholder, .contacts form textarea::-webkit-input-placeholder {
  color: #555;
}

.contacts form input:-moz-placeholder, .contacts form textarea:-moz-placeholder {
  color: #555;
}

.contacts form input::-moz-placeholder {
  color: #555;
}

.contacts form textarea {
  resize: none;
  height: 9em;
}

.contacts .btn-default {
  font-size: 1.125em;
  letter-spacing: 0.1em;
}

.contacts .nav-tabs {
  border-bottom: none;
  border-top: 1px solid #ddd;
}

.contacts .nav-tabs > li {
  padding: 0;
  width: 33.3%;
}

.contacts .nav-tabs > li.active a {
  background-color: #3498db;
  border-radius: 0;
  color: #fff;
  border: none;
}

.contacts .nav-tabs > li > a {
  font-size: 1.125em;
  color: #010000;
  text-align: center;
  padding: 15px 30px 11px;
  color: #010000;
  text-transform: uppercase;
  line-height: 1em;
  border: none;
  margin: 0;
  border-radius: 0;
}

.contacts .tab-content {
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 23px;
  position: relative;
}

.contacts .tab-content .tab-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 67, 67, 0.6);
}

.contacts .tab-content p {
  font-size: 1.125em;
  position: relative;
}

.contacts .tab-content .tab-pane {
  padding: 50px 100px;
}

.contacts .tab-content #office-1 {
  background-image: url("../img/visit1.jpg");
  background-size: cover;
}

.contacts .tab-content #office-2 {
  background-image: url("../img/visit2.jpg");
  background-size: cover;
}

.contacts .tab-content #office-3 {
  background-image: url("../img/visit3.jpg");
  background-size: cover;
}

.social-container {
  text-align: center;
  margin-top: 50px;
}

.social-container h5 {
  text-transform: uppercase;
  font-size: 1.25em;
}

.social-container p {
  font-size: 16px;
  color: rgba(85, 95, 95, 0.7);
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  margin-bottom: 25px;
}

.social-container .social-btn {
  border: 2px solid #D1CFCF;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 1.25em;
  color: #352d2f;
  line-height: 1;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.social-container .social-btn:hover {
  text-decoration: none;
  border-color: #30282a;
}

.social-container .social-btn i {
  margin-right: 20px;
  font-size: 1.5em;
  vertical-align: middle;
}

.footer {
  padding-top: 20px;
}

.footer .panel {
  border-radius: 0;
  border-width: 1px 0 0 0;
  padding: 30px 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.8125em;
  margin-bottom: 0;
}

.footer .panel p {
  margin-bottom: 0;
}

.footer-large--heading {
  border-bottom: 4px solid #30282a;
  text-transform: uppercase;
}

.footer-large--heading h3 {
  font-size: 1.875em;
  font-weight: 300;
  letter-spacing: 1px;
}

.footer-large--links {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  vertical-align: top;
}

.footer-large--links li {
  margin-top: 15px;
}

.footer-large--links a {
  color: #555;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
}

.footer-large .footer-small {
  margin-top: 50px;
}

.footer-large .two-row-menu {
  margin-left: 170px;
}

.main-page-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1140px;
  margin-left: -570px;
}

.call-to-action {
  background-color: #3498db;
  color: #fff;
  padding: 40px 0;
  margin-top: -1px;
}

.call-to-action h3 {
  margin-top: 0;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.call-to-action p {
  margin-bottom: 30px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1199px) {
  .contacts .tab-content .tab-pane {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .two-row-menu {
    margin-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .contacts .tab-content .tab-pane {
    background-position: center;
  }
  .footer-large .footer-small {
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .contacts form {
    margin-bottom: 30px;
  }
  .contacts .nav-tabs > li > a {
    padding: 13px 0px 10px;
  }
  .call-to-action h3 {
    font-size: 2em;
  }
  .footer .footer-small p {
    padding: 0 15px;
  }
}

@media screen and (max-height: 630px), (max-width: 1199px) {
  .main-page-footer {
    position: relative;
    left: initial;
    bottom: initial;
    margin-left: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=maps/main.css.map */
