@media screen and (max-width: 1198px) {
  .fp-section:not(.hero-unit) {
    height: auto !important;
  }
  .fp-section:not(.hero-unit) .explore {
    padding: 30px 0;
    position: relative;
    bottom: initial;
    left: initial;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .testimonials, .contacts, .services .services-grid {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  nav.navbar .navbar-brand {
    margin-right: 0;
    padding: 15px 10px 10px;
  }
  nav.navbar .navbar-brand > img {
    max-width: 70%;
  }
  nav.navbar .navbar-nav a {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
    text-align: center;
  }
  nav.navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  nav.navbar .navbar-nav a {
    margin: 0;
    padding: 15px;
    border-bottom: 3px solid transparent;
  }
  nav.navbar {
    background-color: #000;
  }
  nav.navbar .navbar-toggle {
    border: none;
  }
  nav.navbar .navbar-toggle:hover, nav.navbar .navbar-toggle:focus {
    background-color: transparent;
  }
  nav.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  nav.navbar .navbar-collapse.in .navbar-nav {
    margin: 0 -15px;
  }
  nav.navbar .navbar-collapse.in .navbar-nav .active a {
    border-color: #fff;
    border-bottom: 3px solid #fff;
  }
  nav.navbar .navbar-collapse.in .navbar-nav .active a:hover, nav.navbar .navbar-collapse.in .navbar-nav .active a:focus {
    border-color: #fff;
  }
  nav.navbar.light-menu {
    background-color: #FFF;
  }
  nav.navbar.light-menu .navbar-collapse.in .navbar-nav .active a {
    border-color: #3498db;
  }
  nav.navbar.light-menu .navbar-toggle .icon-bar {
    background-color: #000;
  }
  .inner-hero-unit p {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-height: 630px) {
  .fp-section:not(.hero-unit) {
    height: auto !important;
  }
  .fp-section:not(.hero-unit) .explore {
    padding: 30px 0;
    position: relative;
    bottom: initial;
    left: initial;
    width: 100%;
  }
}

/*# sourceMappingURL=maps/media.css.map */
