
//fullapagejs hack, when download bar appears in chrome
@media screen and (max-width: 1198px)
	.fp-section:not(.hero-unit)
		height: auto !important
		.explore
			padding: 30px 0
			position: relative
			bottom: initial
			left: initial
			width: 100%
			
//default queries for static elements
@media screen and (max-width: 1199px)
	.testimonials, .contacts, .services .services-grid
		padding-bottom: 20px

@media screen and (max-width: 991px)
	nav.navbar
		.navbar-brand 
			margin-right: 0
			padding: 15px 10px 10px
			>img
				max-width: 70%
		.navbar-nav a
			margin-left: 30px

@media screen and (max-width: 767px)
	h1
		font-size: 3em
		text-align: center
	nav.navbar .navbar-nav
		margin-top: 0
		margin-bottom: 0
		a
			margin: 0
			padding: 15px
			border-bottom: 3px solid transparent
	nav.navbar
		background-color: #000
		.navbar-toggle
			border: none
			&:hover, &:focus
				background-color: transparent
			.icon-bar
				background-color: #FFF
		.navbar-collapse.in
			.navbar-nav
				margin: 0 -15px
				.active a
					border-color:#fff
					border-bottom: 3px solid #fff
					&:hover,&:focus
						border-color: #fff
		&.light-menu
			background-color: #FFF
			.navbar-collapse.in
				.navbar-nav .active  a
					border-color: #3498db
			.navbar-toggle .icon-bar
				background-color: #000

	.inner-hero-unit
		p
			font-size: 1em

@media screen and (max-width:479px)
	h1
		font-size: 2em

@media screen and (max-height: 630px)
	.fp-section:not(.hero-unit)
		height: auto !important
		.explore
			padding: 30px 0
			position: relative
			bottom: initial
			left: initial
			width: 100%