.about 

	&-section
		border-bottom: 1px solid #e8e8e8
		padding: 25px 0
		h3 
			margin-top: 0
			margin-bottom: 70px
		h4
			font-size: em(24)
			color: #3299de
			&.blue
				font-family: $titillium-font
				font-weight: 600
				line-height: 1.6
		ul
			padding-left: 0
			list-style: none
			padding: 0
			margin: 0
		li
			padding-left: 1em
			text-indent: -1em
			margin-bottom: 30px;
			font-family: $titillium-font
			&:before
				content: "• ";
				margin-right: 5px;
				color: #3299de; /* or whatever color you prefer */
		.heading
			font-size: em(48)

		p
			font-family: $titillium-font

.diff-bg 
	background-color: #f2f2f2

.new-5-col 
	position: relative
	width: 20%
	float: left
	min-height: 1px
	padding-right: 15px
	padding-left: 15px
	/*background-color: #f0f;*/
	p.big
		font-size: em(46)
		color: #3299de

.rb 
	border-right: 1px solid #e8e8e8;


.we 
	h4 
		font-size: em(55)
		font-weight: 100
		color: #333
	p 
		color: #333
	.cell 
		margin-bottom: 90px;


.ben-h
	min-height: 220px;
	padding-top: 25px;


.bnfts .ben 
	/*margin-top: 25px;*/
	margin-bottom: 25px;


.new-5-col:nth-child(5n) .rb 
	border-right: none;

.bnfts .new-5-col .rb 
	border-bottom: 1px solid #e8e8e8;

.bnfts .new-5-col:nth-child(n+6) .rb
	border-bottom: none

.we .we  
	background: url('../img/about-images/we.png') no-repeat top left; margin-top: 5px;
.we.desk
	background-position: 0 0; width: 93px; height: 74px;
.we.map
	background-position: -103px 0; width: 80px; height: 77px;
.we.marker
	background-position: -193px 0; width: 56px; height: 87px;
.we.scisors
	background-position: -259px 0; width: 86px; height: 93px;
.we.smile
	background-position: -355px 0; width: 63px; height: 63px;
.we.user
	background-position: -428px 0; width: 81px; height: 86px;

.benefits
	background: url('../img/about-images/benefits.png') no-repeat top left; width: 66px; height: 49px;
.benefits.eq
	background-position: 0 0; width: 46px; height: 56px;
.benefits.fc
	background-position: -56px 0; width: 56px; height: 57px;
.benefits.gt
	background-position: -122px 0; width: 53px; height: 54px;
.benefits.hlq
	background-position: -185px 0; height: 53px;
.benefits.ltt
	background-position: -261px 0; width: 65px; height: 51px;
.benefits.pb
	background-position: -336px 0; width: 39px;
.benefits.skb
	background-position: -385px 0; height: 54px;
.benefits.srm
	background-position: -461px 0; width: 60px;
.benefits.tec
	background-position: -531px 0; width: 40px; height: 52px;
.benefits.tm
	background-position: -581px 0; width: 55px; height: 55px;

.links
	padding-top: 20px

@media screen and (max-width: 1199px)
 .ben-h
 		min-height: 250px
@media screen and (max-width: 991px)
	.links
		.project-nav
			font-size: 1.25em
	.new-5-col
		width: 50%
		&.rb
			border: none
	.rb, .bnfts .new-5-col .rb
		border: none



