body
	font-size: 16px
	font-family: $teko-font
	line-height: 1.6
	font-weight: 400

h1
	font-size: 3em
	margin-top: 0
	font-weight: 400
	letter-spacing: .1em
	text-transform: uppercase
	margin-bottom: 30px

.white-text
	color: #fff

.quote-slider-content:before
	content: ' '
	position: absolute
	left: 0px
	top: 0px
	background-image: url("../img/quote-mark.png")
	background-repeat: no-repeat
	width: 30px
	height: 30px

.btn
	font-family: $teko-font
	font-size: 20px
	font-weight: 400
	color: #685157
	padding: 14px 20px 10px 23px
	text-transform: uppercase
	letter-spacing: 3px
	border-radius: 0
	line-height: 1
	text-align: center
	+transition(all .3s)
.btn-primary
	background-color: #FFF
	border-color: #fff
	border-width: 2px
	&:hover, &:focus, &:active, &:active:focus
		background-color: transparent
		border-color: rgba(255,255,255,0.5)

.btn-default
	background-color: $secondary-color
	border-color: $secondary-color
	color: #fff
	&:hover, &:focus, &:active, &:active:focus 
		background-color: transparent
		border-color: $secondary-color
		color: $secondary-color

.owl-controls .owl-dots .owl-dot
	border-radius: 0
	width: 40px
	height: 4px
	background: #fff
	display: inline-block
	margin: 5px
.project-nav
	list-style-type: none
	padding-left: 0
	>li
		display: inline-block
		font-size: em(20)
		padding: 0 10px 10px
		&.active a
			color: $secondary-color
			border-bottom: 2px solid $secondary-color
		>a
			color: #555
			display: inline-block
			letter-spacing: 1px
			text-transform: uppercase
			&:hover, &:focus
				text-decoration: none

.current-project-artworks.bx-controls-hidden
	.bx-controls
		display: none

#bxModal //project view page -> modal for zoomed images
	.modal-content
		border-radius: 0
		.close
			margin-top: -10px
			font-size: 30px
			&:focus
				outline: none
		img
			margin: 0 auto

.inner-hero-unit // about, services, contacts - hero unit
	background-image: url('../img/about-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	h1, p
		color: #fff
	h1
		font-size: em(38)
	p
		font-family: $titillium-font
		font-size: em(18)


#contact-message //contact-us form
	input, textarea
		&:focus
			outline: none
		&.has-error
			border-color: #a94442;