.contacts
	position: relative
	form
		position: relative
		transition: transform 1s
		&.rotated
			transform: rotateY(180deg);
			transition: transform 1s
		.thanks
			display: none
			position: absolute
			transform: rotateY(180deg);
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: #FFF
			border: 1px solid $border-color
			color: $secondary-color
			text-align: center
			h3
				margin: 0
				position: absolute
				top: 50%
				margin-top: -12px
				left: 50%
				margin-left: -155px
		label
			font-weight: normal
			margin-top: 10px
			margin-bottom: 0
			font-size: em(20)				
		input, textarea
			width: 100%
			padding: 13px 20px
			font-family: $titillium-font
			font-size: em(14)
			border: 1px solid #E0E0E0
			&:focus
				outline:none
				border-color: $primary-color
		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
			color: #555
		input:-moz-placeholder, textarea:-moz-placeholder
			color: #555
		input::-moz-placeholder
			color: #555
		textarea
			resize: none
			height: 9em
	.btn-default
		font-size: em(18)
		letter-spacing: 0.1em
	.nav-tabs
		border-bottom: none
		border-top: 1px solid #ddd
		>li
			padding: 0
			width: 33.3%
			&.active a
				background-color: $secondary-color
				border-radius: 0
				color: #fff
				border: none
			>a
				font-size: em(18)
				color: #010000
				text-align: center
				padding: 15px 30px 11px
				color: #010000
				text-transform: uppercase
				line-height: 1em
				border: none
				margin: 0
				border-radius: 0
	.tab-content
		// background-color: #f63c3c
		color: #fff
		text-align: center
		letter-spacing: 0.2em
		margin-bottom: 23px
		position: relative
		.tab-mask
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(68, 67, 67, 0.6)
		p
			font-size: em(18)
			position: relative
		.tab-pane
			padding: 50px 100px
		#office-1
			background-image: url("../img/visit1.jpg")
			background-size: cover
		#office-2
			background-image: url("../img/visit2.jpg")
			background-size: cover
		#office-3
			background-image: url("../img/visit3.jpg")
			background-size: cover
.social-container
	text-align: center
	margin-top: 50px
	h5
		text-transform: uppercase
		font-size: em(20)
	p
		font-size: 16px
		color: rgba(85,95,95,.7)
		font-family: $titillium-font
		font-weight: 300
		margin-bottom: 25px
	.social-btn
		border: 2px solid #D1CFCF
		display: inline-block
		width: 100%
		padding: 10px
		font-size: em(20)
		color: #352d2f
		line-height: 1
		+transition(.2s all)
		&:hover
			text-decoration: none
			border-color: $primary-color
		i
			margin-right: 20px
			font-size: 1.5em
			vertical-align: middle

.footer
	padding-top: 20px
	.panel
		border-radius: 0
		border-width: 1px 0 0 0
		padding: 30px 0
		font-family: $titillium-font
		font-size: em(13)
		margin-bottom: 0
		p
			margin-bottom: 0
	&-large
		&--heading
			border-bottom: 4px solid $primary-color
			text-transform: uppercase
			h3
				font-size: em(30)
				font-weight: 300
				letter-spacing: 1px
		&--links
			list-style-type: none
			padding-left: 0
			display: inline-block
			vertical-align: top
			li
				margin-top: 15px
			a
				color: #555
				font-family: $titillium-font
				font-weight: 300
				font-size: em(14)
		.footer-small
			margin-top: 50px
		.two-row-menu
			margin-left: 170px
.main-page-footer
	position: absolute
	bottom: 0
	left: 50%
	width: 1140px
	margin-left: -570px

.call-to-action
	background-color: $secondary-color
	color: #fff	
	padding: 40px 0
	margin-top: -1px
	h3
		margin-top: 0
		font-size: em(40)
		text-transform: uppercase
		font-weight: 300
		margin-bottom: 0
		letter-spacing: 1px
	p
		margin-bottom: 30px
		font-family: $titillium-font
		font-weight: 300

@media screen and (max-width: 1199px)
	.contacts .tab-content .tab-pane
		padding-left: 10px
		padding-right: 10px
	.footer
		.two-row-menu
			margin-left: 100px
@media screen and (max-width: 991px)
	.contacts .tab-content .tab-pane
		background-position: center
	.footer-large .footer-small
		margin-top: 25px
@media screen and (max-width: 767px)
	.contacts 
		form
			margin-bottom: 30px
		.nav-tabs > li > a
			padding: 13px 0px 10px
	.call-to-action h3
		font-size: 2em	
	.footer
		.footer-small p
			padding: 0 15px
@media screen and (max-height: 630px), (max-width: 1199px)
	.main-page-footer
		position: relative
		left: initial
		bottom: initial
		margin-left: 0
		width: 100%