// map tooltips blinking

.tooltip
	position: absolute
	z-index: 999
	width: 2em
	height: 2em
	cursor: pointer
	opacity: 1
	display: none

.slide0
	top: 33%
	left: 48%
.slide1
	top: 40%
	left: 25%
.slide2
	top: 80%
	left: 76%
.slide3
	top: 39%
	left: 47%
.slide4
	top: 39%
	left: 32%
.slide5
	top: 33%
	left: 33%
.tooltip-item
	width: 20px
	height: 20px
	left: 50%
	top: 50%
	margin: -15px 0 0 -15px
	position: absolute
	border-radius: 50%
	background-color: #fff
	border: 2px solid $secondary-color 
	-webkit-animation: pulse 0.6s infinite alternate
	animation: pulse 0.6s infinite alternate
	-webkit-box-shadow: 0px 0px 20px 0px rgba(52,152,219,1)
	-moz-box-shadow: 0px 0px 20px 0px rgba(52,152,219,1)
	box-shadow: 0px 0px 20px 0px rgba(52,152,219,1)
@-webkit-keyframes pulse
	from 
		-webkit-transform: scale3d(0.5,0.5,1);
	to 
		-webkit-transform: scale3d(1,1,1);

@keyframes pulse
	from
		-webkit-transform: scale3d(0.5,0.5,1);
		transform: scale3d(0.5,0.5,1);
	to
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);

//page styles		

nav.navbar
	background-color: transparent
	border-color: rgba(255, 255, 255, 0.1)
	+transition(all .2s linear)
	.navbar-brand
		padding: 10px 10px 10px 15px
		margin-right: 100px
	.navbar-nav
		a
			font-family: $titillium-font
			color: rgba(255, 255, 255, 1)
			padding: 15px 0
			margin-left: 40px
			&:hover, &:focus
				color: #fff
				border-bottom: 3px solid #fff
		>.active
			>a, a:hover, a:focus
				background-color: transparent
				border-bottom: 3px solid #fff
				color:#fff
nav.light-menu
	+transition(all .2s linear)
	background-color: #fff
	border-color: transparent
	-webkit-box-shadow: 0 3px 6px -2px #999
	-moz-box-shadow: 0 3px 6px -2px #999
	box-box-shadow: 0 3px 6px -2px #999
	.navbar-nav
		a
			color: rgba(0, 0, 0, 0.5)
			&:hover, &:focus
				color: rgba(0, 0, 0, 0.5)
				border-color: $secondary-color
		>.active
			>a, a:hover, a:focus
				border-color: $secondary-color
				color: rgba(0, 0, 0, 0.5) 

.hero-unit
	background-image: url("../img/hero-bg.jpg")
	background-size: cover
	position: relative
	.mask
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background-color: #000
		opacity: 0.5
		z-index: 1
	&-callout
		font-family: $teko-font
		font-size: em(40)
		color: #fff
		position: absolute
		padding-left: 15px
		top: 50%
		margin-top: -105px
		z-index: 2
		line-height: 1
		text-transform: uppercase
		p
			letter-spacing: 2px
	&-actions 
		margin-top: 50px
		a
			margin-right: 20px
			&:first-child
				padding: 14px 50px 10px
	.hero-mouse
		position: absolute
		bottom: 20px
		left: 50%
		margin-left: -60px
		z-index: 2
		a
			display: block
			img
				display: block
				margin: 0 auto
		p
			text-transform: uppercase
			font-size: em(18)
			color: rgba(255, 255, 255, 0.7)
			letter-spacing: 3px
			margin-top: 20px

.services, .testimonials, .contacts, .about, .inner-hero-unit
	padding: 90px 0 50px 0

.services
	position: relative
	.left-bg, .right-bg
		img
			float: right
	.left-bg
		position: absolute
		top: 0
		right: 0
		max-width: 100%
	.right-bg
		position: absolute
		bottom: 200px
		left: 0
		max-width: 100%	
	h1
		position: relative
	&-grid-item
		display: block
		color: $primary-color
		font-size: 30px
		font-weight: 300
		line-height: 1
		text-transform: uppercase
		padding: 40px 40px
		min-height: 140px
		.item-left
			float: left
			width: 30%
			text-align: center
		.item-right
			float: right
			width: 65%
		span.icon
			background-image: url("../img/services-sprite.png")
			background-repeat: no-repeat
			display: inline-block
		&:hover
			+transition(all .3s linear)
			background-color: $secondary-color
			span.text
				color:#fff
.services-grid
	div[class^="col-"]:first-child .services-grid-item 
		span.icon
			background-position: 0 -500px
			width: 50px
			height: 44px
		&:hover span.icon
			background-position: 0 -554px
	div[class^="col-"]:nth-child(2) .services-grid-item 
		span.icon
			background-position: 0 0
			width: 60px
			height: 47px
		&:hover span.icon
			background-position: 0 -57px
	div[class^="col-"]:nth-child(3) .services-grid-item 
		span.icon
			background-position: 0 -738px
			width: 47px
			height: 50px
		&:hover span.icon
			background-position: 0 -798px
	div[class^="col-"]:nth-child(4) .services-grid-item 
		span.icon
			background-position: 0 -244px
			width: 34px
			height: 55px
		&:hover span.icon
			background-position: 0 -309px
	div[class^="col-"]:nth-child(5) .services-grid-item 
		span.icon
			background-position: 0 -374px
			height: 53px
			width: 55px
		&:hover span.icon
			background-position: 0 -437px
	div[class^="col-"]:nth-child(6) .services-grid-item 
		span.icon
			background-position: 0 -114px
			width: 49px
			height: 55px
		&:hover span.icon
			background-position: 0 -179px
	div[class^="col-"]:nth-child(7) .services-grid-item 
		span.icon
			background-position: 0 -858px
			width: 41px
			height: 60px
		&:hover span.icon
			background-position: 0 -928px
	div[class^="col-"]:nth-child(8) .services-grid-item 
		span.icon
			background-position: 0 -608px
			width: 55px
			height: 55px
		&:hover span.icon
			background-position: 0 -673px
	div[class^="col-"]:nth-child(9) .services-grid-item 
		span.icon
			background-image: url("../img/identity-sprite.png")
			background-position: 0 0
			background-repeat: no-repeat
			width: 60px
			height: 60px
		&:hover span.icon
			background-position: 0 -70px
.explore
	padding: 30px 0
	background-image: url('../img/img.png')
	background-size: cover
	background-position: 0 -300px
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	h3
		color: #fff
		font-size: em(40)
		margin-bottom: 30px
		letter-spacing: .1em
.testimonials
	background-color: $secondary-color
	h1
		color: #fff
	.map-container
		position: relative
		height: 400px
		img
			max-height: 100%
			max-width: 100%
.quote-slider
	color: #fff
	text-align: center
	margin: 80px auto 0 auto
	&-content
		max-width: 600px
		margin: 0 auto
		position: relative
	.main-text
		max-width: 500px
		margin: 0 auto
		font-size: em(28)
		font-family: $titillium-font
		font-weight: 300
		line-height: 1.2
		margin-bottom: 30px
	.sub-text
		font-size: em(18)
		color: rgba(255, 255, 255, 0.3)


// responsive height styles untill 630
@media screen and (max-height: 899px)
	.fullpage-wrapper
		.quote-slider
			margin-top: 50px 
			.main-text
				font-size: 1.2em
				margin-bottom: 20px
@media screen and (max-height: 799px)
	.fullpage-wrapper	
		.services-grid
			&-item
				padding: 20px
				min-height: 100px
		.quote-slider 
			.main-text
				max-width: 600px
				margin-bottom: 10px
			&-content
				max-width: 700px
		.owl-theme .owl-controls
			margin-top: 0
@media screen and (max-height: 760px)
	.fullpage-wrapper	
		h1
			font-size: 2.5em
		.footer .panel
			padding: 15px 0
		.social-container
			margin-top: 25px
		.quote-slider
			margin-top: 25px
@media screen and (max-height: 699px)
	.fullpage-wrapper
		h1
			margin-bottom: 20px
		.services, .testimonials, .contacts
			padding: 80px 0 0 0
		.testimonials .map-container
			height: 350px
		.explore
			padding: 20px 0 !important
			h3
				margin-top: 0
				margin-bottom: 10px
		.services .right-bg
			bottom: 140px
		.footer .panel
			padding: 10px 0

// default responsive
@media screen and (max-width: 1199px)
	.services-grid-item
		padding: 20px
		min-height: 100px
		.item-left
			text-align: left
		.item-right
			width: 70%
	.hero-unit
		min-height: 600px
		&-callout
			top: 50%
			margin-top: -106px
	.services
		padding-bottom: 0
		&-grid
			margin-top: 0
		.left-bg
			top: 0
@media screen and (max-width: 991px)
	.hero-unit-callout
		font-size: 2em
	.services-grid-item
		padding: 20px
		.item-left
			text-align: center
@media screen and (max-width: 767px)
	.hero-unit
		padding-top: 200px
		.hero-mouse
			margin-left: -60px
	.hero-unit-callout
		padding: 0 20px
		position: relative
		top: initial
		margin-top: 0
		text-align: center
	.hero-unit-actions
		text-align: center
		margin-top: 30px
		button
			margin-bottom: 20px
	.services 
		.left-bg
			width: 100%
		h1
			text-align: center
	.services-grid-item
		padding: 20px
		min-height: 100px
	.quote-slider-content:before
		display: none
	.social-btn
		margin-bottom: 10px
	.testimonials .map-container
		height: auto
	.explore
		h3
			font-size: 1.5em
	.services .right-bg
		bottom: 120px

@media screen and (max-width:550px)
	.hero-unit
		padding-top: 150px
		&-callout
			font-size: 1.5em
		&-actions a
			margin-bottom: 20px
	.fullpage-wrapper .testimonials .map-container
		height: auto

@media screen and (max-width:479px)
	.explore
		h3
			font-size: 1.2em
	.owl-theme .owl-controls .owl-page span
		width: 30px
	.hero-unit-actions a
		margin-right: 0