.portfolio-section
	padding-top: 54px
	h1
		font-family: $teko-font
		margin-bottom: 0
	.panel
		padding: 30px 0 20px 0
		border: none
		box-shadow: none
		margin-bottom: 0
	.project-showing
		font-size: em(20)
		text-transform: uppercase
		letter-spacing: 1px
.grid
	&-item,&-sizer
		width: 50%
.portfolio-items
	a[class^='portfolio-items']
		display: block
		position: relative
		overflow: hidden
		background: #3085a3
		cursor: pointer	
		width: 100%
		height: 100%
		position: relative
	a img
		position: relative
		display: block
		height: 100%
		width: 100%
		opacity: 0.8
	a .caption
		padding: 2em
		color: #fff
		-webkit-backface-visibility: hidden
		backface-visibility: hidden
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		.project-title
			display: block
			margin: 0
			font-size: em(60)
			letter-spacing: 1px
			text-transform: uppercase
			text-align: left
		.project-descr
			display: block
			font-size: em(18)
			font-family: $titillium-font
			font-weight: 300
			margin: 0
			text-align: left
		&::before,
		&::after
			pointer-events: none
	a.effect-apollo
		background: #3498db
		img 
			opacity: 0.95
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s
			transition: opacity 0.35s, transform 0.35s
			-webkit-transform: scale3d(1.05,1.05,1)
			transform: scale3d(1.05,1.05,1)
		&::before 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(255,255,255,0.5)
			z-index: 10
			content: ''
			-webkit-transition: -webkit-transform 0.6s
			transition: transform 0.6s
			-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0)
			transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0)
		&:hover 
			img 
				opacity: 0.6
				-webkit-transform: scale3d(1,1,1)
				transform: scale3d(1,1,1)
			&::before 
				-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0)
				transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0)

@media screen and (max-width: 991px)
	.portfolio-section 
		.project-nav > li, .project-showing
			font-size: 1em
	.portfolio-items a .caption
		.project-title
			font-size: 3em
		.project-descr
			font-size: 1em

@media screen and (max-width: 767px)
	.portfolio-section
		.project-nav
			text-align: center
		.project-showing
			text-align: center
			font-size: 1.5em
			margin-bottom: 20px
		.project-title
	.portfolio-items 
		.grid-item
			height: 200px !important
	.portfolio-items a .caption
		padding: 0.5em
		.project-title
			font-size: 1.5em
			line-height: 1em
		.project-descr
			line-height: 1.2em
			
@media screen and (max-width:479px)
	.portfolio-items 
		.grid-item
			width: 100% !important
		a .caption .project-title
			font-size: 2em
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
	.grid
		.grid-item--height2
			height: 500px !important
		.grid-item
			height: 250px !important