.services-content
	.rotated
		transform: rotateY(180deg)
	div[class*="-content"]
		position: relative
		z-index: 2
		padding: 100px 0
		&.w-border
			border: 1px solid #e8e8e8
	.service-description, .subheading-text
		font-size: 1em
		font-family: $titillium-font
		position: relative
		z-index: 2
		ul
			padding-left: 20px
	.service-heading
		font-size: em(60)
		color: #333
		position: relative
		z-index: 2
		font-family: $teko-font
		font-weight: 300
		line-height: 1
		&-text
			clear: both
			text-transform: uppercase
			span
				display: block
	p[class*='-section-ico']
		background-image: url("../img/services-sprite.png")
		background-repeat: no-repeat
	.services-section-content strong
		display: inline-block
		margin-bottom: 30px
	.g-mask, .b-mask
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 1
	.g-mask
		background-color: #f2f2f2
		opacity: .9
	.b-mask
		background-color: #3299de
		opacity: .9

	.business-content
		// background-image: url("../img/services-page/pic-1.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		// width: 100%
		.business-section-ico
			background-position: 0 -500px
			width: 50px
			height: 44px
			margin-bottom: 20px
			position: relative
			z-index: 2
			float: left
		.service-description
			margin-top: 64px			
	.ecommerce-content
		// background-image: url("../img/services-page/pic-2.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		.ecommerce-section-ico
			background-position: 0 0
			width: 60px
			height: 47px
			margin-bottom: 20px
			position: relative
			z-index: 2
		.service-description
			margin-top: 67px
	.social-content
		background-image: url("../../img/services-page/pic-3.jpg")
		background-repeat: no-repeat
		background-size: cover
		.social-section-ico
			background-position: 0 -738px
			width: 47px
			height: 50px
			margin-bottom: 20px
			position: relative
			z-index: 2
			float: right
		.service-description
			margin-top: 70px
			p
				margin: 30px 0
			ul > li 
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
	.mobile-content
		// background-image: url("../../img/services-page/pic-4.jpg")
		// background-repeat: no-repeat
		// background-size: cover		
		.mobile-section-ico
			background-position: 0 -244px
			width: 34px
			height: 55px
			margin-bottom: 20px
			position: relative
			z-index: 2
		.service-description
			margin-top: 75px
			p
				margin-bottom: 25px
				&:last-child
					margin-bottom: 0
	.design-content
		// background-image: url("../../img/services-page/pic-5.jpg")
		// background-repeat: no-repeat
		// background-size: cover		
		.design-section-ico
			background-position: 0 -374px
			height: 53px
			width: 55px
			margin-bottom: 20px
			position: relative
			z-index: 2
			float: right
		.service-description
			margin-top: 75px
			padding-left: 90px
	.branding-content
		// background-image: url("../../img/services-page/pic-6.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		// background-position: 0 -300px
		.branding-section-ico
			background-image: url("../img/identity-sprite.png")
			background-position: 0 0
			background-repeat: no-repeat
			width: 60px
			height: 60px
			margin-bottom: 20px
			position: relative
			z-index: 2
		.service-description
			margin-top: 80px
			padding-right: 20px
			ul>li
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
	.support-content
		background-image: url("../../img/services-page/pic-8.jpg")
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		.support-section-ico
			background-position: 0 -858px
			width: 41px
			height: 60px
			margin-bottom: 20px
			position: relative
			z-index: 2
		.service-description
			margin-top: 80px
		.subheading-text
			ul > li
				margin-bottom: 15px
				&:last-child
					margin-bottom: 0

	.startups-content
		// background-image: url("../../img/services-page/pic-7.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		// background-position: center bottom
		.startups-section-ico
			background-position: 0 -608px
			width: 55px
			height: 55px
			margin-bottom: 20px
			position: relative
			z-index: 2
		.service-description
			margin-top: 75px
			p:first-child
				margin-bottom: 30px
	.data-content
		// background-image: url("../../img/services-page/pic-9.jpg")
		// background-repeat: no-repeat
		// background-size: cover
		.data-section-ico
			background-position: 0 -114px
			width: 49px
			height: 55px
			margin-bottom: 20px
			position: relative
			z-index: 2
		.service-description
			margin-top: 75px
			p
				margin-top: 20px
			ul
				> li
					margin-bottom: 15px
					&:last-child
						margin-bottom: 0

/*--------media query ---------*/

@media screen and (max-width: 1199px)
	.services-content
		div[class*='-content']
			padding: 50px 0
@media screen and (max-width: 991px)
	.services-content
		div[class*='-content'] 
			padding: 20px 0
		.service-heading
			text-align: left
			font-size: 3em
			p[class*='-section-ico']
				float: none
				margin-bottom: 0
				display: inline-block
				margin-right: 20px
			&-text
				display: inline-block
				br
					display: none
				span
					display: inline-block
		.service-description
			text-align: left
			padding-left: 0 !important
			margin-top: 0 !important
			strong
				display: inline-block
				margin-bottom: 25px
				+ p
					margin-top: 0
		.mobile-content .service-description p:last-child
			margin-bottom: 25px

// @media screen and (max-width: 767px)

@media screen and (max-width:479px)
	.services-content 
		.service-heading
			p[class*='-section-ico']
				float: none
				display: block
				margin: 0 auto 10px
			&-text
				text-align: center
				display: block
