$teko-font : 'Teko', sans-serif;
$titillium-font : 'Titillium Web', sans-serif;
$roboto-font: 'Roboto';
$montserrat-fonr : 'Montserrat', sans-serif;

$primary-color: #30282a;
$secondary-color: #3498db;

$border-color: #e1e1e1;
