.project-view-section
	margin-top: 54px
	margin-bottom: 50px
	.panel
		padding: 30px 0 20px 0
		border: none
		box-shadow: none
		margin-bottom: 0
		h1
			color: #3299de
			margin-bottom: 0
	.project-subtitle
		font-size: em(24)
		text-transform: uppercase
		letter-spacing: 1px
.project-switcher a
	font-size: em(18)
	color: #c3c3c3
	text-transform: uppercase
	letter-spacing: 1px
	span
		margin: 10px
	&:hover, &:focus
		color: #3299de
		text-decoration: none
.current-project
	margin-bottom: 100px
	p, ul
		font-family: $titillium-font
	ul li
		color: #3299de
		span
			color: #333
	h3
		text-transform: uppercase
		margin-bottom: 30px
	&-descr
		padding-right: 80px
		.btn
			min-width: 250px
	.link-to-project
		margin-top: 30px
.artworks-slides
	list-style-type: none
	padding-left: 0
	img
		max-width: 100%
.technologies-used p
	font-size: em(18)
	margin-bottom: 0
.bx-wrapper
	+clearfix
	a
		font-size: em(14)
		text-transform: uppercase
		color: #c3c3c3
		letter-spacing: 1px
		margin-top: 20px
		&:hover, &:focus
			color: #0099de
			text-decoration: none
	.bx-prev
		float: left
	.bx-next
		float: right
	img
		max-width: 100%

@media screen and (max-width: 1199px)
	.project-switcher a span
		margin: 5px
@media screen and (max-width: 991px)
	.project-view-section
		margin-bottom: 0
	.project-switcher a
		display: block
		text-align: left
	.current-project 
		margin-bottom: 50px
		.project-title
			margin-bottom: 15px
		&-descr
			padding-right: 0
@media screen and (max-width: 767px)
	.project-view-section .project-subtitle
		text-align: center
	.project-switcher a
		text-align: center
	.current-project .link-to-project
		display: block
		margin: 0 auto
	.bx-controls
		overflow: hidden
		max-width: 370px
		margin: 0 auto		
	.artworks-slides
		overflow: hidden
		max-width: 370px
		margin: 0 auto
	.technologies-used p
		text-align: center
@media screen and (max-width: 479px)
	.project-switcher a
		font-size: 1em		