<div class="call-to-action">
	<div class="text-center">
		<h3>We’re ready to start a beneficial partnership</h3>
		<p>Please contact us to discuss the details of your project & terms of cooperation</p>
		<a href="/contact.php" class="btn btn-primary">contact astwellsoft</a>
	</div>
</div>		