		<div class="footer footer-large">
			<div class="container">
				<div class="row">
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="footer-large--heading">
							<h3>Astwellsoft</h3>
						</div>
						<ul class="footer-large--links footer-pages">
							<li><a href="/">Home</a></li>
							<li><a href="portfolio.php">Projects</a></li>
							<li><a href="about.php">About</a></li>
							<li><a href="services.php">Services</a></li>
							<li><a href="contact.php">Contacts</a></li>
						</ul>
					</div>
					<div class="col-md-6 hidden-sm hidden-xs">
						<div class="footer-large--heading">
							<h3>Our Services</h3>
						</div>
						<ul class="footer-large--links footer-services">
							<li><a href="services.php">Business systems & tools</a></li>
							<li><a href="services.php">E-Commerce platforms</a></li>
							<li><a href="services.php">Social platforms</a></li>
							<li><a href="services.php">Mobile applications</a></li>
							<li><a href="services.php">Identity & Branding</a></li>
						</ul>
						<ul class="footer-large--links two-row-menu">
							<li><a href="services.php">Digital design</a></li>
							<li><a href="services.php">Servers & Data</a></li>
							<li><a href="services.php">Technical support for startups</a></li>
							<li><a href="services.php">Support of existing projects</a></li>
						</ul>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="footer-large--heading">
							<h3>Our Works</h3>
						</div>
						<ul class="footer-large--links footer-works">
							<li><a href="/portfolio.php#landing">Landing pages</a></li>
							<li><a href="/portfolio.php#corporate">Corporate & Business</a></li>
							<li><a href="/portfolio.php#ecommerce">E-commerce</a></li>
							<li><a href="/portfolio.php#mobile">Mobile Apps</a></li>
							<li><a href="/portfolio.php#web-apps">Complex Web Apps</a></li>
						</ul>
					</div>
				</div> <!-- /row footer-large -->
				<div class="footer-small">
					<div class="row">
						<div class="panel panel-default">
							<div class="text-right">
								<p>&copy; 2015 Astwellsoft</p>
							</div>
						</div>
					</div><!-- /row footer-small -->					
				</div> <!-- footer-small -->
			</div> <!-- /container footer-->
		</div>