<div class="social-container">
	<h5>WE're social</h5>
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<a href="https://www.facebook.com/astwellsoft/" class="social-btn"  target="_blank"><i class="fa fa-facebook"></i>Facebook</a>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<a href="https://www.linkedin.com/company/astwellsoft" class="social-btn" target="_blank"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<a href="https://www.instagram.com/astwellsoft/" class="social-btn" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<a href="https://www.behance.net/astwellsoft" class="social-btn" target="_blank"><i class="fa fa-behance-square"></i>Behance</a>
		</div>
	</div>
</div>